@using WebMVC.Models
@model List<JobProfilePerson>;
@{
    ViewData["Title"] = "Applications";
}

<style>
    .job:hover{
        background:#000000 !important;
        cursor:pointer;
        transition: background .3s ease;
    }
</style>

<div style="background:#E3E2E2;height:calc(100% - 56px);font-family: 'Roboto', sans-serif;" class="row px-3 overflow-auto">
    <div class="col-md-12">
        <h2 class="text-secondary my-3">
            Aplicaciones
        </h2>

        @if(Model.Count > 0)
        {
            @foreach(JobProfilePerson jobProfilePerson in Model){            
        
            <div class="row shadow mb-4 bg-white rounded py-4 px-1 justify-content-between job js-job">
  
                <div class="col-sm-12">

                    <div class="row justify-content-between align-items-center">
                        <div class="col-auto">
                            <div class="row">
                                <div class="px-1">
                                    <img src="@(@jobProfilePerson.JobProfiles.Company.Photo != null ? $"/images/companies/{jobProfilePerson.JobProfiles.Company.Photo}" : "/images/logo.png")" width="75" height="75"/>
                                </div>

                                <div class="pl-1">
                                <h4 style="color:#6067D9">
                                    @jobProfilePerson.JobProfiles.Position
                                    </h4>
                                    <span class="font-weight-bold text-success">@jobProfilePerson.JobProfiles.Company.Name</span>
                                </div>
                            </div>
                        </div>
                        <a id="cancelButton" class="mr-2 btn btn-danger h-50 align-self-center" asp-controller="Person" asp-action="RemoveApplication" asp-route-id="@jobProfilePerson.JobProfiles.Id">Cancelar</a>
                    </div>


                </div>
                @Html.HiddenFor(m => jobProfilePerson.JobProfiles.Id, new { @class = "js-jobId" })    
            </div>
        
            }

        }

        else
        {
              <h4 class="text-danger text-uppercase">
                No has aplicado a ninguna propuesta aún
            </h4>
        }


    </div>
</div>

<script type="text/javascript">

    $(document).ready(function() {
        $('.js-job').on('click', function() {
            var jobId = $('.js-jobId', $(this)).val();
            window.location.href = "/Person/Jobs/" + jobId;
        });
    });

    $("#cancelButton").click(function(e){
        e.stopPropagation();
    })

</script>
>>>>>>> refs/remotes/origin/master
