@using WebMVC.Models
@{
    ViewData["Title"] = "Persons";
}
@model List<Person>

<div style="background:#E3E2E2;height:calc(100% - 56px);font-family: 'Roboto', sans-serif;" class="row px-3 overflow-auto">

    <div class="col-md-12">
        <div class="row justify-content-between">
        <h2 class="text-secondary my-3">
            Personas
        </h2>
         <a class="mr-2 btn btn-success h-50 align-self-center" asp-controller="Person" asp-action="Signup">Nueva Persona</a>
        </div>
        
        <style>
            .table-striped tbody tr:nth-of-type(odd){
                background:none;
            }

            .table-striped tbody tr:nth-of-type(even) {
                background:rgba(0,123,255,0.2);
}
        </style>

        <table class="table table-striped table-responsive-lg text-center">
          <thead class="bg-primary text-white">
            <tr>
              <th scope="col">#</th>
              <th scope="col">Nombre</th>
              <th scope="col">Apellido</th>
              <th scope="col">Fecha de nacimiento</th>
              <th scope="col">Mail</th>
              <th scope="col">Operaciones</th>
            </tr>
          </thead>
          <tbody>
        @foreach(Person person in Model)
        {
            <tr>
                <td>@person.Id</td>
                <td>@person.Name</td>
                <td>@person.Surname</td>
                <td>@person.BirthDate</td>
                <td>@person.User.Mail</td>
                <td>
                    <a class="btn btn-danger" asp-controller="Person" asp-action="Delete" asp-route-id="@person.Id">Eliminar</a>
                    <a style="color:#ffffff" class="btn btn-warning" asp-controller="Person" asp-action="Edit" asp-route-id="@person.Id">Editar</a>
                </td>
            </tr>
        }
          </tbody>
        </table>
    </div>


</div>