@using WebMVC.Models
@{
    ViewData["Title"] = "Home Page";
    int i = 0;
}
@model List<JobProfile>

<table id="dtBasicExample" class="table table-striped table-bordered table-sm" cellspacing="0" width="100%">
  <thead>
    <tr>
      <th class="th-sm">#

      </th>
      <th class="th-sm">Email Receptor

      </th>
      <th class="th-sm">Starting Date

      </th>
      <th class="th-sm">Ending Date

      </th>
      <th class="th-sm">Address

      </th>
      <th class="th-sm">Description

      </th>

      <th class="th-sm">Position

      </th>

      <th class="th-sm">Company

      </th>

      <th class="th-sm">Reference email

      </th>

      <th class="th-sm">Actions

      </th>
    </tr>
  </thead>
  <tbody>
    @foreach(JobProfile jobProfile in Model){            
        {
                <tr>
                  <td>@jobProfile.Id</td>
                  <td>@jobProfile.EmailReceptor</td>
                  <td>@jobProfile.StartingDate.ToShortDateString()</td>
                  <td>@jobProfile.EndingDate.ToShortDateString()</td>
                  <td>@jobProfile.Address</td>
                  <td>@jobProfile.Description</td>
                  <td>@jobProfile.Position</td>
                  <td>@jobProfile.Company.Name</td>
                  <td>@jobProfile.Company.ReferenceEmail</td>
                  <td><a asp-controller="JobProfilePerson" asp-action="Add" asp-route-id="@jobProfile.Id" class="btn btn-primary">Apply</a></td>
                </tr>
        }
    }
  </tbody>
</table>

    