@using WebMVC.Models
@{
    ViewData["Title"] = "Propuestas";
}
@model List<JobProfile>

<div style="background:#E3E2E2;height:calc(100% - 56px);font-family: 'Roboto', sans-serif;" class="row px-3 overflow-auto">

    <table class="table text-center">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Puesto de trabajo</th>
          <th scope="col">Descripción</th>
          <th scope="col">Capacidad</th>
          <th scope="col">Dirección</th>
          <th scope="col">Tipo</th>
          <th scope="col">Operaciones</th>
        </tr>
      </thead>
      <tbody>
    @foreach(JobProfile jp in Model)
    {
        <tr>
            <td>@jp.Id</td>
            <td>@jp.Position</td>
            <td>@jp.Description</td>
            <td>@jp.Capacity</td>
            <td>@jp.Address</td>
            <td>@jp.Type</td>
            <td>
                <a class="btn btn-danger" asp-controller="JobProfile" asp-action="Delete" asp-route-id="@jp.Id">Eliminar</a>
                <a class="btn btn-secondary" asp-controller="JobProfile" asp-action="Edit" asp-route-id="@jp.Id">Editar</a>
                <a class="btn btn-primary" asp-controller="Company" asp-action="Proposal" asp-route-id="@jp.Id">Ver postulantes</a>
            </td>
        </tr>
    }
      </tbody>
    </table>

</div>

<script type="text/javascript">

    $(document).ready(function() {
        $('.js-job').on('click', function() {
            var jobId = $('.js-jobId', $(this)).val();
            window.location.href = "/company/proposal/" + jobId;
        });
    });

</script>